.imgsize{
    height: 60px;
    width: 60px;
}
.imgAuther{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}